.book_container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  top: 180px;
  height: calc(100vh - 180px);
  width: 100vw;
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.books {
  height: 100%;
  width: 100%;
}
.image_box {
  margin-top: 10px;
  position: relative;
  height: 200px;
  width: 160px;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 300px orange;
  }
}
.title {
  display: flex;
  width: 160px;
  word-break: break-word;
  justify-content: center;
  color: black;
  &:hover {
    transform: scale(1.05);
  }
}
.link {
  text-decoration: none;
}
.action_container {
  display: flex;
  justify-content: center;
  gap: 53.3px;
  flex-direction: row;
  width: 160px;
}
.icon {
  margin-top: 5px;
  height: 10px;
  width: auto;
  color: white;
  cursor: pointer;
}
.bookmarked {
  color: yellow;
}
.liked {
  color: red;
}
.favorited {
  color: gold;
}
