* {
  margin: 0;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, black, #4b2e83);
  height: 20vh;
  width: 100vw;
  border: 2px solid;
}
.search_space {
  position: absolute;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 50%;
  width: 80%;
  padding-left: 30px;
  font-size: clamp(1rem, 1vw, 2rem);
  outline: none;
  border: 2px solid white;
  background: linear-gradient(135deg, #1f1f1f, #552ea4);
}
.icon {
  &:hover {
    cursor: pointer;
  }
}
.reaction_icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 5px;
  width: 30vw;
  color: white;
}
